@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kiwi+Maru&family=Noto+Color+Emoji&family=Noto+Sans+JP:wght@100..900&family=Ultra&family=Zen+Kaku+Gothic+New&family=Zen+Maru+Gothic&display=swap");

body {
  margin: 0;
}
:root {
  --zen-maru-gothic: "Zen Maru Gothic", sans-serif;
  --noto-sans-jp: "Noto Sans JP", sans-serif;
  --inter: "Inter", sans-serif;
  --hira-kaku-pro-n: "Zen Kaku Gothic New", sans-serif;
  --kiwi-maru: "Kiwi Maru", serif;
  --euphorigenic: "Ultra", serif;
  --noto-color-emoji: "Noto Color Emoji", sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 1550px;
  margin: auto;
  padding: 0 15px;
}

.header {
  background: #fff;
}

.header .content {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 71px;
}

.header .logo {
  margin-right: 17px;
}

.logo-text {
  font-size: 16px;
  letter-spacing: 1px;
  color: #333333;
  font-weight: 500;
  font-family: var(--noto-sans-jp);
}
/* banner */
.banner {
  background-color: #fff33e42;
  background-image: url(imgs/banner-background.png);
  background-position: center center;
  background-size: cover;
  min-height: 800px;
}

.banner .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 106px 55px;
  position: relative;
}

.banner .banner-h2 {
  font-size: 93px;
  line-height: 107px;
  color: #333333;
  font-weight: 700;
  letter-spacing: -12px;
  font-family: var(--zen-maru-gothic);
}
.banner .banner-h2.second {
  letter-spacing: -10.7px;
}
.banner .banner-h2-last {
  display: flex;
  align-items: center;
}

.banner .banner-h2-last .p {
  font-size: 50px;
  color: #333333;
  font-weight: 700;
  padding-left: 2px;
  font-family: var(--inter);
  margin-top: 4px;
}

.banner .banner-h2-last .db-text {
  margin: 8px 14px 0 5px;
  font-size: 30px;
  line-height: 25px;
  color: #333333;
  font-weight: 700;
  font-family: var(--inter);
}

.banner .banner-h2-last .db-text .p-2nd {
  font-size: 12px;
  font-weight: 700;
}

.banner .dropdown {
  width: 270px;
  background-color: #fff;
  padding-bottom: 30px;
  position: absolute;
  bottom: -95%;
  right: 55px;
}

.banner .dropdown .dropdown-bar {
  height: 5px;
  background-color: #07913a;
  margin-bottom: 10px;
}

.banner .dropdown .dropdown-content p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: -5px 20px 5px;
  height: 60px;
  border-bottom: 1px solid #ddd;
}

.banner .dropdown .dropdown-content p a {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #333333;
  font-weight: 700;
  font-family: var(--zen-maru-gothic);
  text-decoration: none;
  transition: 0.3s ease;
}

.banner .dropdown .dropdown-content p a:hover {
  color: #07913a;
}

.img-abslute-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050505;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 40px;
  padding: 0 5px;
  font-family: var(--hira-kaku-pro-n);
  text-align: center;
}
/* .intro-section */

.intro-section {
  padding: 70px 15px 50px;
}

.intro-section .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
}

.intro-section .itro-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro-section .itro-column.first {
  width: 18%;
}

.intro-section .itro-column.Second {
  width: 46%;
  padding-left: 28px;
}
.intro-section .itro-column.Second .text-div {
  margin-top: -2px;
  margin-left: 3px;
  padding-bottom: 6px;
}
.intro-section .itro-column.third {
  width: 32%;
}

.intro-section .itro-column .intro-image {
  position: relative;
  overflow: hidden;
}

.intro-section .itro-column .intro-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-section .itro-column .hover {
  display: none;
}

.intro-section .itro-column .intro-image:hover .default {
  display: none;
}

.intro-section .itro-column .intro-image:hover .hover {
  display: block;
}

.intro-section .itro-column.Second .two-column {
  display: flex;
  justify-content: space-between;
}

.intro-section .itro-column.Second .text-div .title {
  font-size: 30px;
  letter-spacing: -1.2px;
  line-height: 38px;
  color: #07913a;
  font-weight: 700;
  font-family: var(--zen-maru-gothic);
  margin-bottom: 20px;
}
.intro-section .itro-column.Second .text-div .title span {
  margin-left: -11px;
  letter-spacing: -1.9px;
}

.intro-section .itro-column.Second .text-div .subtitle {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 34px;
  color: #333333;
  font-family: var(--hira-kaku-pro-n);
  padding-right: 105px;
}

.intro-section .itro-column.third .two-column {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.intro-section .itro-column.third .text-div {
  margin: 25px 0;
  display: flex;
  padding-left: 42px;
}

.intro-section .itro-column.third .text-div .color-text {
  font-size: 80px;
  line-height: 98%;
  color: #07913a;
  font-weight: 900;
  font-family: var(--zen-maru-gothic);
  width: 70px;
  transform: translateY(-38px);
}
.intro-section .itro-column.third .text-div .text.second {
  width: 40px;
  margin-top: -61px;
}
.intro-section .itro-column.third .text-div .text {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 130%;
  color: #333333;
  font-weight: 700;
  font-family: var(--zen-maru-gothic);
  width: 40px;
  margin-top: -108px;
  margin-left: -4px;
}

/* .flower-section  */

.flower-section {
  padding: 191px 0 50px;
  background-image: url(imgs/flowers-section-background-img.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 120%;
}

.flower-section .tag {
  background: #079139;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  font-family: var(--zen-maru-gothic);
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

.flower-section .tag::before {
  content: "";
  position: absolute;
  top: 0;
  left: -26px;
  width: 171px;
  height: 100%;
  background-image: url(imgs/tag.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.flower-section .tag span {
  z-index: 10;
  position: relative;
}

.flower-section .heading {
  text-align: center;
  font-size: 45px;
  letter-spacing: -3px;
  color: #111111;
  font-weight: 700;
  font-family: var(--zen-maru-gothic);
  width: 336px;
  margin: -1px auto;
  padding: 0 0 4px 0px;
  border-top: 3px solid #057c31;
}
.flower-section .heading span {
  margin-left: -20px;
}
.flower-section .content {
  padding: 63px 225px 0;
  display: flex;
}

.flower-section .content .left-side {
  width: calc(51% + 5px);
}

.flower-section .content .left-side .p_01 {
  font-size: 35px;
  letter-spacing: 1px;
  line-height: 39px;
  color: #ff91a8;
  font-weight: 600;
  font-family: var(--inter);
  margin-top: 38px;
}

.flower-section .content .left-side .p_flowers {
  text-transform: uppercase;
  font-size: 22px;
  color: #db5b85;
  font-weight: 700;
  font-family: var(--inter);
  margin-bottom: 4px;
}

.flower-section .content .left-side .p_flowers-2 {
  font-size: 65px;
  letter-spacing: 2px;
  color: #111111;
  font-weight: 700;
  font-family: var(--zen-maru-gothic);
}

.flower-section .content .left-side .flower-img-1 {
  transform: translateY(-98px);
  width: 100%;
}

.flower-section .content .right-side {
  width: 50%;
  padding-top: 2px;
}

.flower-section .content .right-side .flower-img-2 {
  width: 100%;
  height: 453px;
  object-fit: cover;
  object-position: bottom;
}

.flower-section .content .right-side.text {
  padding-left: 20px;
}

.flower-section .content .flower-h2 {
  font-size: 28px;
  letter-spacing: -0.5px;
  line-height: 40px;
  color: #111111;
  font-weight: 700;
  font-family: var(--zen-maru-gothic);
  width: fit-content;
  margin-bottom: 20px;
}

.flower-section .content .flower-h2 .span {
  position: relative;
  display: block;
  z-index: 10;
  width: fit-content;
  letter-spacing: -1.5px;
}

.flower-section .content .flower-h2 .span::before {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 3px;
  width: calc(100% - 6px);
  z-index: 2;
}

.flower-section .content .flower-p {
  font-size: 16px;
  letter-spacing: -0.4px;
  padding-right: 25px;
  line-height: 35px;
  font-weight: 700;
  color: #111111;
  font-family: var(--hira-kaku-pro-n);
}

.flower-section .content .left-side .flower-img-3 {
  width: 96%;
  height: 520px;
}

.flower-section .content .right-side .p_02 {
  font-size: 35px;
  color: #ffae00;
  font-weight: 600;
  font-family: var(--inter);
  text-align: right;
}

.flower-section .content .right-side .p_fruits {
  text-transform: uppercase;
  font-size: 22px;
  color: #ff6c00;
  font-weight: 700;
  font-family: var(--inter);
  text-align: right;
}

.flower-section .content .right-side .p_fruits-2 {
  font-size: 65px;
  letter-spacing: 2px;
  color: #333333;
  font-weight: 700;
  line-height: 64px;
  margin-top: 19px;
  font-family: var(--zen-maru-gothic);
  text-align: right;
}
.flower-section .content .right-side .flower-img-4 {
  width: 103%;
  transform: translate(-17px, -164px);
}

.flower-section .content .left-side .p_03 {
  font-size: 35px;
  line-height: 40px;
  color: #7ebd58;
  font-weight: 600;
  font-family: var(--inter);
  text-align: left;
  margin-left: -2px;
}

.flower-section .content .left-side .p_vegetables {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 25px;
  margin-left: 2px;
  color: #469d3f;
  font-weight: 700;
  font-family: var(--inter);
  text-align: left;
}

.flower-section .content .left-side .p_vegetables-2 {
  font-size: 65px;
  letter-spacing: 0px;
  margin-top: 4px;
  color: #333333;
  font-weight: 700;
  font-family: var(--zen-maru-gothic);
  text-align: left;
}

.flower-section .content .left-side .flower-img-5 {
  transform: translateY(-100px);
  width: 100%;
}

.flower-section .content .right-side .flower-img-6 {
  width: 116%;
}
/* .third-section */
.third-section {
  background-color: #e1c8cc6e;
  background-image: url(imgs/third-section-background-img.png);
  background-size: cover;
  background-position: center center;
  padding: 121px 0;
}

.third-section .heading-div .img-1 {
  margin-bottom: 22px;
  justify-self: center;
  display: block;
}
.third-section .heading-div .img-2 {
  justify-self: center;
  display: block;
  margin-bottom: 50px;
}
.third-section .content {
  background-color: #ffffff93;
  background-image: url(imgs/third-section-content-background-img.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  border-radius: 20px;
  margin: -6px 221px 0;
  padding: 201px 50px 50px 50px;
}
.third-section .content .part-1 {
  margin-left: auto;
  width: fit-content;
}
.third-section .content .part-1 .p1-text {
  width: 218px;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #222222;
  font-weight: 500;
  font-family: var(--kiwi-maru);
  margin-bottom: 17px;
}
.third-section .content .part-1-button {
  display: block;
  width: 170px;
  height: 40px;
  border-radius: 21px;
  border: 2px solid #db1d73;
  background-color: #db1d73;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 500;
  font-family: "var(--kiwi-maru)";
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease;
}

.third-section .content .part-1-button svg {
  margin-left: 10px;
  margin-right: -15px;
}
.third-section .content .part-1-button svg path {
  fill: #fff;
  stroke: #fff;
  transition: 0.3s ease;
}
.third-section .content .part-1-button:hover {
  background-color: transparent;
  color: #db1d73;
}
.third-section .content .part-1-button:hover svg path {
  fill: #db1d73;
  stroke: #db1d73;
}
.third-section .content .cards-section {
  margin-top: -45px;
}
.third-section .cards-section .h2-title {
  font-size: 28px;
  letter-spacing: 0px;
  padding-left: 16px;
  line-height: 40px;
  color: #db1d7d;
  font-weight: 500;
  font-family: "var(--kiwi-maru)";
  text-align: center;
}
.third-section .cards-section .h2-subtitle {
  font-size: 28px;
  letter-spacing: -1px;
  padding-left: 11px;
  line-height: 40px;
  color: #111;
  font-weight: 500;
  font-family: "var(--kiwi-maru)";
  text-align: center;
  margin-bottom: 57px;
}
.third-section .cards-section .cards-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;
  padding: 0 45px 0 65px;
}
.third-section .cards-section .my-card {
  border-radius: 20px;
  position: relative;
  width: 22%;
}
.third-section .my-card .card-img {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.third-section .my-card .card-img img {
  width: 100%;
  min-height: 130px;
  transition: 0.7s ease;
}
.third-section .my-card .card-img:hover img {
  transform: scale(1.05);
}
.third-section .my-card .card-tag {
  background-color: #df8fc7;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-37%, -56%);
  z-index: 2;
}
.third-section .my-card .card-tag .tag-text {
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: var(--euphorigenic);
  font-style: italic;
}
.third-section .my-card .card-tag.step-2 {
  background-color: #e77c7c;
}
.third-section .my-card .card-tag.step-3 {
  background-color: #f48453;
}
.third-section .my-card .card-tag.step-4 {
  background-color: #f4aa53;
}
.third-section .my-card .card-tag .tag-text span {
  display: block;
  font-size: 27px;
  line-height: 16px;
}
.third-section .my-card .card-content {
  padding-top: 13px;
}
.third-section .my-card .card-content .card-title {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 25px;
  height: 100px;
  overflow: hidden;
  color: #222222;
  font-weight: 300;
  font-family: "var(--kiwi-maru)";
  transition: 0.3s ease;
}
.third-section .my-card .card-content .card-title:hover {
  text-decoration: underline;
}
.third-section .cards-container .arrow-btwn-card {
  padding-top: 67px;
}
.third-section .content .main-card {
  min-height: 250px;
  border-radius: 20px;
  background-color: #fffdf4;
  border: 2px solid #fdd93f;
  margin: 30px 15px 30px 15px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.third-section .main-card .img-div-1,
.third-section .main-card .img-div-2 {
  border-radius: 200px;
  width: 210px;
  height: 210px;
  background-color: #ffbbbb;
  transform: translateY(-10px);
}
.third-section .main-card .img-div-2 {
  background-color: #ffe369;
  align-self: end;
  transform: translateY(30px);
}
.third-section .main-card .img-div-1 img,
.third-section .main-card .img-div-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 200px;
  transform: translate(-10px, -10px);
}

.third-section .main-card .img-div-2 img {
  transform: translate(10px, -10px);
}

.third-section .main-card .text-div {
  width: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}
.third-section .main-card .text-div .heading {
  display: flex;
  align-items: flex-end;
  font-family: "var(--kiwi-maru)";
  margin-bottom: 20px;
}
.third-section .main-card .text-div .h2-title {
  font-size: 10px;
  line-height: 35px;
  color: #ed70af;
  font-weight: 700;
  font-family: "var(--kiwi-maru)";
  text-align: center;
  transform: translate(-10px, 3px);
}
.third-section .main-card .text-div .h2-title span {
  font-size: 30px;
  letter-spacing: -2px;
  line-height: 35px;
  color: #db1d73;
  margin: 0 5px;
}
.third-section .main-card .text-div .h2-subtitle {
  font-size: 28px;
  letter-spacing: -1.3px;
  margin-left: -12px;
  line-height: 32px;
  padding-bottom: 12px;
  color: #222222;
  font-weight: 700;
  text-align: center;
}

.third-section .main-card .text-div .description {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 28px;
  color: #222222;
  font-weight: 500;
  font-family: "var(--kiwi-maru)";
  text-align: center;
  margin-bottom: 20px;
}
.third-section .main-card .text-div .main-card-button {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 35px;
  color: #222222;
  font-weight: 700;
  font-family: "var(--kiwi-maru)";
  text-align: center;
  text-decoration: none;
  position: relative;
}
.third-section .main-card .text-div .main-card-button span {
  z-index: 1;
  position: relative;
}
.third-section .main-card .text-div .main-card-button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(imgs/third-section-main-card-button-border-img.png);
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 2;
  transform: translateY(-3px);
}
.third-section .main-card .text-div .main-card-button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(imgs/third-section-main-card-button-hover-arrow.png);
  background-repeat: no-repeat;
  background-position: right;
  z-index: 3;
  transform: translateX(0px);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
}
.third-section .main-card .text-div .main-card-button:hover::after {
  visibility: visible;
  opacity: 1;
  transform: translateX(20px);
}

.flower-section .content .text.one {
  transform: translateY(-82px);
}

.flower-section .content .text.two {
  transform: translateY(-1px);
  padding-left: 42px;
}
.flower-section .content .flower-h2 {
  letter-spacing: -1.2px;
}
.flower-section .content .text.two .flower-p {
  padding-right: 0;
  width: 104%;
}
.flower-section .content .text.three {
  transform: translateY(-99px);
  padding-left: 41px;
}
.flower-section .content .flower-h2 {
  letter-spacing: -1.3px;
}
.flower-section .content .flower-p {
  padding-right: 0;
  width: 104%;
  letter-spacing: -1.5px;
}
.flower-section .content .flower-h2 .span.red::before {
  border-bottom: 8px solid #ff91a8;
  bottom: 1px;
  left: 1px;
  width: calc(100% - 13px);
}

.flower-section .content .flower-h2 .span.orange::before {
  border-bottom: 8px solid #ffb93d;
}

.flower-section .content .flower-h2 .span.green::before {
  border-bottom: 8px solid #7ebd58;
}
/* producer-section */
.producer-section {
  background-image: url(imgs/producer-section-background-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0;
}

.producer-section .tag {
  background: #0e6eb8;
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  font-family: var(--zen-maru-gothic);
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

.producer-section .tag::before {
  content: "";
  position: absolute;
  top: 0;
  left: -23px;
  width: 171px;
  height: 100%;
  background-image: url(imgs/producer-section-tag-blue.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.producer-section .tag span {
  z-index: 10;
  position: relative;
}

.producer-section .heading {
  text-align: center;
  font-size: 45px;
  letter-spacing: 1px;
  color: #111111;
  font-weight: 700;
  font-family: var(--zen-maru-gothic);
  width: fit-content;
  margin: 0 auto;
  padding: 0 10px;
  border-top: 3px solid #1c87d9;
  border-bottom: 3px dashed #28a7e1;
  margin-bottom: 50px;
}

.producer-section .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 10px;
  row-gap: 50px;
}
.producer-section .card-container .producer-card {
  width: calc((100% - 60px) / 4);
}
.producer-section .producer-card .img {
  width: 100%;
  height: 260px;
  overflow: hidden;
}
.producer-section .producer-card .img img {
  width: 100%;
  object-fit: cover;
  transition: 0.8s ease;
}
.producer-section .producer-card .img:hover img {
  transform: scale(1.05);
}

.producer-section .producer-card .card-content {
  padding-top: 20px;
}
.producer-section .producer-card .h2-title {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 35px;
  color: #222222;
  font-family: var(--hira-kaku-pro-n);
}
.producer-section .producer-card .h2-subtitle {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 35px;
  color: #e9748d;
  font-family: var(--hira-kaku-pro-n);
  margin-bottom: 20px;
}
.producer-section .producer-card .h2-desc {
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #222222;
  font-family: var(--noto-color-emoji);
}
/* footer */
footer {
  height: 200px;
  background-color: #07913a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
footer .footer-p {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  font-family: var(--hira-kaku-pro-n);
}
footer .iconlist {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
footer .footer-icon {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}
footer .copyright {
  font-size: 15px;
  color: #ffffff;
  font-weight: 500;
  font-family: var(--inter);
}
